# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* Commonly used libraries used by Data Scientists
* Few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1 Python 
2 R 
3 SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib 
2. Scikit-learn
3. Numpy



| Data Science tools  |   
|-----------|
|   hadoop  |
|  R Studio |
|  Jupyter notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

### Author

Shruti Sharma